
.heading{
    display: flex;
    justify-content: center;
}
h1{
    color: blueviolet;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
   
}
th,td{
    text-align: center;
}
.table{
    display: flex;
    justify-content: center;
}